[map]
mapa=.%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%............................%.
     .%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%.

[.]
nombre = cesped
muro = no
bloqueo = no
puerta=no
boss1 = no
[%]
nombre = pared
muro = si
bloqueo = si
puerta=no
boss1 = no
[/]
nombre = puerta
muro = no
bloqueo = no
puerta=si
boss1 = no
[*]
nombre = boss1
muro = no
bloqueo = no
puerta=no
boss1 = si
