[map]
mapa=%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
     %..............................%
     %/.............................%
     %....%.........................%
     %%%%%%.........................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %..............................%
     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

[.]
nombre = cesped
muro = no
bloqueo = no
puerta=no
[%]
nombre = pared
muro = si
bloqueo = si
puerta=no
[/]
nombre = puerta
muro = no
bloqueo = no
puerta=si
