[map]
mapa=................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................
     ................................

[.]
nombre = cesped
muro = no
bloqueo = no
puerta=no
